body {
    font-family: 'Arial', sans-serif;
    background: rgb(135,35,65);
    background: linear-gradient(4deg, rgba(135,35,65,1) 0%, rgba(34,9,44,1) 50%);
    color: #fd5b43;
    margin: 0;
    padding: 8px;
    width: 380px;
    display: flex;
    align-items: center; /* Align items vertically in the center */
  }

  #logo {
    width: 128px;
    height: 128px;
    margin-right: 16px;
  }

  #text-and-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
  }

  #github-button {
    background-color: #333;
    color: #fff;
    padding: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
  }

